@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face {
    font-family: latob;
    src: url(../fonts/lato/Lato-Bold.ttf);
}
.lato{
    font-family: lato;
}
.latob{
    font-family: latob;
}
.nav-top-border{

    border-top: 3px solid #2F60A9;
}
.navbar{
    align-items: flex-start;
}
.nav-image{
    height: 62px;
    width: 200px;
}
a{
    padding: 0px!important;
}
.ul-bg{
    background-color: #2F60A9;
}
.sec-nav{
    text-decoration: none;
    color: #2F60A9;
    font-family: lato;
}
.form-background{
    background-image:url(https://www.stayparktravel.com/airports-pictures/161323964115.png);
    background-size: cover;
}
.font-13{
    font-size: 13px;
}
.font-14{
    font-size: 14px;
}

.font-15{
    font-size: 15px;
}
.font-32{
    font-size: 32px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-27{
    font-size: 27px;
}
.font-600{
    font-weight: 600;
}
.font-700{
    font-weight: 700;
}
.form-nav-color{
    color: #15375E;
}
.border-bottom-blue{
    border-bottom: 3px solid #15375E;
}
.search-absolute{
    position: absolute;
    top: 139px;
    font-size: 21px;
    left: 24px;
    color: #15375E;
}
.search-hotel{
    padding-left: 50px!important;
}
.user-absolute{
    position: absolute;
    font-size: 26px;
    top: 13px;
    left: 25px;
}
.tenant-input{
    width: 30px;
}
.fa-minus, .fa-plus, .tenant-close{
    cursor: pointer;
}
.tenant-box{
    position: absolute;
    width: 90%;
    display: none;
}
.tenant-parent{
    position: relative;
}
.tenant-open{
    font-family: lato;
    padding-left: 40px!important;
}
.find-button{
    padding-top: 9px!important;
    box-sizing: border-box;
}
.hotel-title{
    font-size: 18px;
    font-weight: 700;
    color: #2F60A9;
    font-family: lato;
}
.features{
    font-size: 15px;
    color: #009900;
}
.rating{
    color: #009900;
    font-weight: 900;
}
.usd{
    vertical-align:super;
}
.price{
    color: #009900;
    font-weight: bold;
}
.more-rates, .hotel-count{
    color: #2F60A9;
}